.sauceDivs {
    /* display: grid; */
    display: flex;
    /* border-width: 40%; */
    flex-direction: column-reverse;
    flex-align: center;
    /* grid-template-columns: auto auto auto auto; */ */
    /* grid-template-rows: auto; */
    /* grid-auto-flow: row; */
    justify-content: space-around;
    border: 2px solid blue;
}

.Sauce {
    justify-items: right;
    flex-flow: column;
}

.sauceBox {
    flex-direction: row;
    flex-flow:column;
}




/* p {
    justify-content: center;
    align-content: left;
    border: 100px;
    border: 2px solid orange
} */
